# created by virtualenv automatically
pyvenv.cfg
knowledge.txt
selenium
x.com_json_*.json
chromedriver-win64
12.15.2_0
playwrightauto
Lib
.idea
include
Scripts
1745308916.png
__pycache__/
venv/
.env
run_tests.py
pytest.ini
.coverage
tests/
database_ssh.py
.ruff_cache/
.pytest_cache/